.container {
  width: 100vw;
  height: 100vh;
}

.background {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  background-image: url("../../img/bg-01.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  align-items: center;
  position: relative;
}

.login_content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 370px;
  height: 580px;
  background-color: white;
  border-radius: 15px;
}

.login_content h4 {
  font-size: 25px;
  color: (--text-color);
  line-height: 1.2;
  text-align: center;
}

.wrap_input {
  width: 80%;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: relative;
  border-bottom: 1px solid #d9d9d9;
  margin-top: 8px;
}

.input_label {
  font-size: 14px;
  color: #333333;
  line-height: 1.5;
  padding-left: 7px;
}

.div {
  display: flex;
}

.icon {
  padding: 12px 0 0 0;
  color: #333333;
  min-width: 50px;
}

.input {
  font-size: 12px;
  color: #333333;
  line-height: 1.2;
  border: none;
  display: block;
  width: 100%;
  height: 40px;
  background: transparent;
}

.input:focus {
  outline: none;
}

.forgot_password {
  font-size: 12px;
  float: right;
  padding-top: 10px;
  padding-right: 41px;
  transition: ease-out 0.6s;
  color: gray;
}

.btn_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.btn_login {
  left: 50%;
  transform: translate(-50%, -50%);
  position: relative;
  width: 80%;
  height: 36px;
  margin-top: 30px;
  background: linear-gradient(to left, #00dbde, #fc00ff);
  font-size: 16px;
  color: #fff;
  line-height: 1.2;
  text-transform: uppercase;
  border-radius: 15px;
  border: none;
  transition: ease-out 0.6s;
}

.btn_login:hover {
  cursor: pointer;
  box-shadow: inset 0 0 0 80px #fc00ff;
}

.center {
  align-items: center;
  text-align: center;
  margin-top: -10px;
  font-size: 14px;
}

.btn_google {
  left: 40%;
  transform: translate(-50%, -50%);
  position: relative;
  width: 40px;
  height: 40px;
  margin-top: 15px;
  background: #dd4b39;
  font-size: 22px;
  color: white;
  line-height: 1.2;
  border-radius: 50%;
  border: none;
  transition: ease-out 0.6s;
}

.btn_facebook {
  left: 50%;
  transform: translate(-50%, -50%);
  position: relative;
  width: 40px;
  height: 40px;
  margin-top: 15px;
  background: #3b5998;
  font-size: 22px;
  color: white;
  line-height: 1.5;
  border-radius: 50%;
  border: none;
  padding: auto;
  transition: ease-out 0.6s;
}

.btn_google:hover {
  box-shadow: inset 0 0 0 80px #333333;
  cursor: pointer;
}

.btn_facebook:hover {
  box-shadow: inset 0 0 0 80px #333333;
  cursor: pointer;
}

.new_cus {
  margin-top: 30px;
  align-items: center;
}

.sign_up h5 {
  text-align: left;
  color: (--text-color);
  margin-top: 0px;
  float: left;
  clear: both;
  margin-left: 25%;
  padding-right: 10px;
}

.sign_up a {
  text-align: left;
  color: blue;
}

.sign_in {
  display: flex;
  flex-direction: column;
}
.sign_in h5 {
  text-align: center;
  color: #666;
  font-size: 14px;
  margin-top: 0px;
  margin-bottom: 5px;
}

.sign_in a {
  text-align: center;
  color: blue;
  text-transform: uppercase;
}
