.header {
  padding-left: 10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 64px;
  font-family: var(--font-family);
  color: var(--text-color);
}

.left {
  display: flex;
}

.logo {
  width: 60px;
  height: 60px;
  margin-top: auto;
  margin-bottom: auto;
  background-image: url("../../../img/logo.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  position: relative;
  cursor: pointer;
}

.projectTitle {
  margin-top: auto;
  margin-bottom: auto;
  font-size: 15px;
  font-family: var(--font-family);
  color: var(--text-color);
}

.menu {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 40px;
  color: #001737;
  min-width: 24px;
}

.linker {
  margin-left: 50px;
  display: flex;
  font-family: var(--font-family);
  color: var(--text-color);
}

.linker a:last-child {
  color: #4253ff;
}

.linker a:hover {
  cursor: pointer;
}

.linkIcon {
  margin-top: auto;
  margin-bottom: auto;
}

.linkTitle {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 30px;
  margin-right: 30px;
  font-family: var(--font-family);
  color: var(--text-color);
}

.avatar {
  display: flex;
}

.welcome {
  margin-top: auto;
  margin-bottom: auto;
  flex: 1;
  margin-right: 5px;
  font-family: var(--font-family);
  color: var(--text-color);
}

.name {
  margin-top: auto;
  margin-bottom: auto;
  font-weight: 600;
  margin-right: 10px;
  color: #39d5d5;
  text-decoration: underline;
  font-family: var(--font-family);
}

.ava {
  width: 40px;
  height: 40px;
  margin-top: auto;
  margin-bottom: auto;
  background-image: url("../../../img/avatar.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  border-radius: 50%;
  margin-right: 10px;
}

.container {
  height: 100vh;
  width: 100%;
}

.content {
  background: #e5e5e5;
  height: calc(100% - (64px));
}

.sideNav {
  width: 240px;
  background: white;
  position: absolute;
  height: calc(100% - (64px));
  left: -100%;
  padding: 0 30px;
  transition: all 1.5s;
  font-family: var(--font-family);
  color: var(--text-color);
}

.sideNavActive {
  width: 240px;
  background: white;
  position: absolute;
  height: calc(100% - (64px));
  left: 0;
  padding: 0 30px;
  z-index: 1;
  overflow-x: hidden;
  transition: all 1s;
  font-family: var(--font-family);
  color: var(--text-color);
}

.sideNav p {
  margin-top: 40px;
  font-size: 11px;
  font-weight: 600;
  margin-left: -15px;
}

.sideNavActive p {
  margin-top: 40px;
  font-size: 11px;
  font-weight: 600;
  margin-left: -15px;
}

.sideNav ul {
  padding: 0;
}

.sideNavActive ul {
  padding: 0;
}

.sideNav ul li {
  list-style-type: none;
}

.sideNavActive ul li {
  list-style-type: none;
}

.sideNav ul li a {
  text-decoration: none;
  font-size: 14px;
  display: block;
  margin-top: auto;
  margin-bottom: auto;
}

.sideNavActive ul li a {
  text-decoration: none;
  font-size: 14px;
  display: block;
  margin-top: auto;
  margin-bottom: auto;
}

.sideNav ul li a.active {
  color: #39d5d5;
}

.sideNavActive ul li a.active {
  color: #39d5d5;
}

.menuItem {
  display: flex;
  height: 20px;
  margin-top: 30px;
}

.menuItem:hover {
  color: #39d5d5;
  cursor: pointer;
}

.menuItem a {
  color: var(--text-color);
}
.menuIcon {
  margin-top: auto;
  margin-bottom: auto;
  font-size: 20px;
  margin-right: 15px;
}

.table {
  padding-top: 20px;
  margin-left: 0px;
  justify-content: center;
  text-align: center;
}

.tableActive {
  padding-top: 20px;
  margin-left: 240px;
  justify-content: center;
  text-align: center;
}
