.sticky.fixed .header_container {
  display: none !important;
}

.header_container {
  height: auto;
  width: 100%;
}
.container {
  width: 1230px;
  max-width: 100%;
  margin: 0 auto;
}
.header_top {
  position: relative;
  width: 100%;
  padding: 15px 0px;
  margin: 0px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}
.header_logo {
  float: left;
  cursor: pointer;
  margin-bottom: 20px;
}
.logo {
  padding: 0;
  max-width: 100%;
}
.header_search {
  float: none;
  width: auto;
  padding: 0px;
  margin: 0;
  text-align: center;
  display: inline-block;
  vertical-align: top;
  position: relative;
  border-collapse: separate;
}
.header_search .search_toggle {
  display: block;
  z-index: 9;
  background: none;
  width: 500px;
}
.input_lg {
  width: 100%;
  padding: 10px 105px 10px 15px;
  height: 40px;
  background: #fff;
  font-size: 14px;
  color: #000;
  letter-spacing: 0.5px;
  font-weight: 400;
  border-radius: 5px;
  border: 1px solid #ddd;
}
.input_lg:focus {
  outline: 0;
  border: 1px solid #ddd;
}
.search_toggle .input_group_btn {
  display: block;
  width: 35px;
  position: absolute;
  right: 0px;
  top: 0px;
}
.btn_lg {
  position: absolute;
  color: #fff;
  background: #00509d;
  border: none;
  top: 0px;
  max-height: 45px;
  right: 0px;
  padding: 7px 23px 7px;
  line-height: 26px;
  outline: 0;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
  transition: none;
  text-transform: capitalize;
  border-radius: 0 5px 5px 0;
}
.btn_lg:focus {
  outline: 0;
}
.header_social {
  display: flex;
  float: right;
}
.header_icon {
  font-size: 25px;
}
.header_user {
  z-index: 9;
  padding: 0;
  cursor: pointer;
  position: relative;
  margin: 10px 25px 0px 0px;
}
.myaccount_menu {
  min-width: 170px;
  display: block;
  padding: 10px 15px 10px;
  right: 0px;
  position: absolute;
  left: auto;
  list-style: none;
  text-align: left;
  font-size: 14px;
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid #ddd;
  margin-top: 0px;
  top: 60px;
}
.myaccount_menu.hidden {
  display: none;
}
.myaccount_menu li {
  list-style: none;
  text-decoration: none;
}
.myaccount_menu li a {
  text-transform: capitalize;
  color: #262626;
  font-size: 14px;
  padding: 2px 0px;
  display: block;
  font-weight: 200;
  clear: both;
  white-space: normal;
}
.header_cart {
  text-align: center;
  position: relative;
  white-space: nowrap;
  float: right;
  width: auto;
  z-index: 9;
  padding: 0px;
  margin-top: 10px;
}
.cart_menu {
  width: 300px;
  padding: 10px;
  border: 1px solid #ddd;
  overflow: hidden;
  position: absolute;
  display: block;
  margin-top: 0;
  top: 60px;
  right: 0;
  left: auto;
  border-radius: 5px;
  background: #fff;
  z-index: 1001;
}
.cart_menu.hidden {
  display: none;
}
.cart_menu li {
  max-height: 130px;
  overflow-y: auto;
}
.cart_menu li p {
  margin: 20px auto;
  color: #333;
}
.text_center {
  text-align: center;
}
.user_outline {
  background-image: url("https://capricathemes.com/opencart/OPC09/OPC090208/OPC3/catalog/view/theme/Styleway_Watch/image/codezeel/user.svg");
  padding: 0;
  cursor: pointer;
  margin: 0px;
  text-align: left;
  width: 25px;
  height: 25px;
  display: block;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 22px;
  background-color: transparent;
}
.user_outline:hover,
.user_outline:focus {
  background-image: url("https://capricathemes.com/opencart/OPC09/OPC090208/OPC3/catalog/view/theme/Styleway_Watch/image/codezeel/user-hover.svg");
}
.cart_heading {
  text-decoration: none;
  padding: 0px;
  font-size: 0px;
  text-align: left;
  font-weight: 600;
  line-height: 25px;
  display: block;
  height: 25px;
  cursor: pointer;
  width: 30px;
  z-index: 9;
  transition: none;
  color: #000000;
  background-image: url("https://capricathemes.com/opencart/OPC09/OPC090208/OPC3/catalog/view/theme/Styleway_Watch/image/codezeel/cart.svg");
  background-repeat: no-repeat;
  background-size: 22px;
  background-color: transparent;
}
.cart_heading:hover,
.cart_heading:focus {
  background-image: url("https://capricathemes.com/opencart/OPC09/OPC090208/OPC3/catalog/view/theme/Styleway_Watch/image/codezeel/cart-hover.svg");
}
.cart_quantity {
  color: #ffffff;
  background: #00509d;
  position: absolute;
  font-size: 12px;
  top: -26px;
  right: 0px;
  z-index: 9;
  display: block;
  font-weight: 400;
  padding: 0px 5px;
  text-transform: lowercase;
  border-radius: 50%;
  line-height: 17px;
}
.header_bottom {
  position: relative;
}

.nav_container {
  position: relative;
  text-align: left;
  float: left;
  width: 80%;
  padding: 0;
}
.main_menu {
  height: auto;
  border-radius: 0px;
  padding: 0;
  z-index: 9;
  position: relative;
  width: auto;
}
.nav_menu {
  display: flex;
  float: none;
  list-style: outside none none;
  margin: 0;
  top: auto;
  text-align: left;
  padding: 0;
}
.nav_item {
  position: relative;
  float: none;
  display: inline-block;
  z-index: 20;
  background-color: transparent;
  vertical-align: top;
  cursor: pointer;
}
.nav_item a {
  padding: 20px 1px;
  font: 600 14px/26px "Open Sans", serif;
  color: #000000;
  display: block;
  letter-spacing: 0.3px;
  text-transform: capitalize;
  position: relative;
  overflow: hidden;
  width: auto;
  margin: 0px 40px 0 0;
  z-index: 1;
}

.nav_item > a:before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background: #00509d;
  transform: scale3d(0, 1, 1);
  transition: transform 0.2s;
  top: 0px;
  transform-origin: 0 50%;
}
.nav_item:hover > a:before {
  transform: scale3d(1, 1, 1);
  transition-timing-function: cubic-bezier(0.22, 0.61, 0.36, 1);
  transition-duration: 0.4s;
}
.nav_item:hover a {
  color: #00509d;
}
.nav_social {
  float: right;
}
.lang_curr {
  float: right;
  padding: 15px 0;
}
.pull_left {
  padding-right: 0;
  width: auto;
  text-align: left;
  float: none;
  display: inline-block;
}
.btn_group {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
}
.dropdown_toggle {
  padding: 3px 0px 3px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 400;
  text-align: left;
  width: 100%;
  text-decoration: none;
  color: #292929;
  align-items: center;
  padding-right: 20px;
  position: relative;
  float: left;
  border-color: transparent;
  background-color: transparent;
  cursor: pointer;
  display: flex;
}
.img_flag {
  margin-top: 7px;
}
.dropdown_icon {
  width: 12px;
  margin-left: 3px;
}
.hidden {
  display: none;
}
.language_menu.hidden {
  display: none;
}
.language_menu,
.currency_menu {
  position: absolute;
  z-index: 1000;
  float: left;
  min-width: 160px;
  list-style: none;
  font-size: 14px;
  background-color: #fff;
  border: 1px solid #dddddd;
  padding: 8px 15px;
  top: 51px;
  left: auto;
  right: 0;
  margin: 0;
  border-radius: 5px;
}
.language_menu li,
.currency_menu li {
  list-style: none;
  text-decoration: none;
  padding: 0;
}
.language_select,
.currency_select {
  border: 0;
  padding: 2px;
  margin-top: 3px;
  margin-bottom: 7px;
  background-color: transparent;
  font-size: 14px;
  color: #000000;
  text-transform: capitalize;
  line-height: initial;
  display: block;
  font-weight: 400;
  text-align: left;
  width: 100%;
  text-decoration: none;
  cursor: pointer;
}
.flag_name {
  margin-left: 10px;
}
