.table_container {
  justify-content: center;
  text-align: center;
  font-family: var(--font-family);
  position: relative;
}

.table_container .title {
  font-size: 5vh;
  margin-bottom: 3vh;
}
.input_form {
  position: relative;
}

.search_icon {
  position: absolute;
  top: 7px;
  left: 5px;
  font-size: 2vw;
  color: black;
}

.search_add {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  border-collapse: separate;
  width: 90%;
  height: 6vh;
}

.search_add input {
  width: 35vw;
  height: 100%;
  border-radius: 5px;
  border: none;
  background-color:white;
  color:black;
  padding-left: 3.5vw;
  font-size: 1.1vw;
}

.search_add input::placeholder {
  color: black;
}

.add_button {
  background-color: #39d5d5;
  color: white;
  border-radius: 5px;
  height: 100%;
  width: 4vw;
  font-size: 1.5vw;
}

.table_container h2 {
  font-size: 30px;
}

.vh_container {
  height: 62vh;
}

.table {
  justify-content: center;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  border-collapse: separate;
  border-spacing: 0 15px;
  width: 90%;
  height: 100%;
  font-size: 1.1vw;
}

.table thead {
  background-color: #dedede;
}

.table thead th {
  width: 180px;
  height: 6vh;
}

.table thead th:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  width: 5%;
}

.table thead th:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  width: 5%;
}

.table_row {
  background-color: #ffffff;
  box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.2);
}

.table_row:hover {
  transform: translateY(-2px);
}

.table_row td {
  margin-top: 50px;
}

.table_row td:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.table_row td:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.view_button {
  background-color: #2424f5;
  color: white;
  border-radius: 5px;
}

.edit_button {
  background-color: #ff8c00;
  color: white;
  border-radius: 5px;
  height: 85%;
  font-size: 1.1vw;
}

.delete_button {
  background-color: #ff0000;
  color: white;
  border-radius: 5px;
  margin-right: 5px;
  height: 85%;
  font-size: 1.1vw;
}

.bottom_page {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  border-collapse: separate;
  width: 86%;
  height: 5vh;
  margin-top: 10px;
}

.bottom_page h3 {
  font-size: 1.1vw;
  margin-top: auto;
  margin-bottom: auto;
}

.pagination {
  display: flex;
}

.pagination h4 {
  margin-right: 10px;
  font-size: 1.1vw;
  margin-top: auto;
  margin-bottom: auto;
}

.go_left_button {
  background-color: #c4c4c4;
  color: white;
  height: 100%;
}

.go_right_button {
  background-color: #39d5d5;
  color: white;
  height: 100%;
}

.icon {
  font-size: 1.1vw;
  margin-top: auto;
  margin-bottom: auto;
}

.modal {
  position: absolute !important;
  display: inline-block;
  left: 110vw;
  top: 50%;
  width: 200vw;
}

.modal:not(.is_show) {
  transform: translate(-50%, -100vh);
  opacity: 0;
  transition: all 0.5s;
}

.is_show {
  z-index: 10;
  transform: translate(-50%, -50%);
  opacity: 1;
  transition: all 0.5s;
  transition-timing-function: ease-out;
}
