.card {
  -webkit-transition: ease all 0.3s;
  transition: ease all 0.3s;
  width: 270px;
}

.wrapper {
  margin: 60px 20px;
  box-sizing: border-box;
  position: relative;
  border-radius: 5px;
  box-shadow: 0 0 10px 5px rgba(25, 25, 25, 0.1);
  transition: ease all 0.3s;
  width: 270px;
  height: 400px;
}

.wrapper:hover {
  transform: translateY(-10px);
  box-shadow: 0 0 20px 10px rgba(25, 25, 25, 0.1);
}

.card_img {
  border-radius: 5px;
  width: 270px;
  height: 200px;
}

.image {
  border-radius: 5px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  width: 270px;
  height: 200px;
}

.cardInfo {
  display: block;
  padding: 5px 5px 5px 5px;
  box-sizing: border-box;
  font-family: var(--font-family);
}

.label {
  margin-top: 5px;
  display: flex;
}

.label_item {
  width: fit-content;
  height: 25px;
  text-align: center;
  vertical-align: middle;
  line-height: 25px;
  padding: 0px 10px 0px 10px;
  background-color: #39d5d5;
  border-radius: 5px;
  margin-left: 5px;
  margin-right: 5px;
  font-size: 12px;
  color: #fff;
}

.cardInfo h1 {
  margin-left: auto;
  margin-right: auto;
  font-size: 18px;
  text-align: center;
  font-weight: bold;
}

.cardInfo p {
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
  font-size: 10px;
  text-align: justify;
}

.action {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 15px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: 15px;
}

.priceGroup {
  position: absolute;
  bottom: 0;
  left: 0;
  padding-left: 5px;
}

.priceGroup .price {
  font-size: 20px;
  font-weight: 700;
}

.cart {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 35px;
  height: 35px;
  margin-bottom: 20px;
  margin-right: 10px;
}

.cart:hover {
  cursor: pointer;
  color: #39d5d5;
}

.cart svg,
.cart path,
.cart circle {
  stroke: currentColor;
  stroke-width: 3%;
  fill: transparent;
  transition-delay: 0.1s;
}
