.embla {
  position: relative;
  background-color: #f7f7f7;
  width: 1230px;
  max-width: 100%;
  margin: 0 auto;
  height: 60vh;
}

.embla__viewport {
  overflow: hidden;
  width: 100%;
}

.embla__viewport.is-draggable {
  cursor: move;
  cursor: grab;
}

.embla__viewport.is-dragging {
  cursor: grabbing;
}

.embla__container {
  display: flex;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -webkit-tap-highlight-color: transparent;
  margin-left: -10px;
}

.embla__slide {
  position: relative;
  min-width: 100%;
  padding-left: 10px;
  object-fit: cover;
}

.embla__slide__inner{
  position: relative;
  overflow: hidden;
  object-fit: cover;
 
}

.embla__button_prev {
  outline: 0;
  cursor: pointer;
  background-color: transparent;
  touch-action: manipulation;
  position: absolute;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
  border: 0;
  width: 15px;
  height: 15px;
  justify-content: center;
  align-items: center;
  fill: #39d5d5;
  padding: 0;
  left: 27px;
}

.embla__button_next {
  outline: 0;
  cursor: pointer;
  background-color: transparent;
  touch-action: manipulation;
  position: absolute;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
  border: 0;
  width: 25px;
  height: 25px;
  justify-content: center;
  align-items: center;
  fill: #39d5d5;
  padding: 0;
  right: 27px;
}

.embla__button:disabled {
  cursor: default;
  opacity: 0.3;
}

.embla__button__svg {
  width: 100%;
  height: 100%;
}
