@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap");

:root {
  --text-color: black;
  --font-family: "Poppins", san-serif;
  --box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.05);
}

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  font-family: var(--font-family);
  color: var(--text-color);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  color: inherit;
  font: inherit;
}
