.modalContainer {
  justify-content: center;
  align-items: center;
  width: 100%;
  font-family: var(--font-family);
}

.span {
  color: red;
  padding-left: 5px;
}

.grid_container {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 5%;
}

.grid_item {
  margin-top: 2%;
  margin-bottom: 2%;
}

.input {
  width: 90%;
  border-radius: 5px;
  border: 1px solid #bdbdbd;
  height: 5vh;
  font-size: 2vh;
  padding-left: 1vw;
}

.input_full {
  width: 100%;
  border-radius: 5px;
  border: 1px solid #bdbdbd;
  height: 5vh;
  font-size: 2vh;
  padding-left: 1vw;
}

.datetime_picker {
  width: 100%;
  border-radius: 5px;
  border: 1px solid #bdbdbd;
  height: 5vh;
  font-size: 2vh;
}

.label {
  float: left;
  font-size: 2vh;
}

.button button {
  border: none;
  border-radius: 5px;
  transition: all 0.5s;
  width: 5vw;
  height: 100%;
}

.button button:hover {
  cursor: pointer;
  background-color: white;
  color: blue;
  border: solid 0.2px black;
}

.add_button {
  background-color: #39d5d5;
  color: white;
  border-radius: 5px;
  font-size: 1.1vw;
  height: fit-content;
}

.cancel_button {
  background-color: #ff0000;
  color: white;
  border-radius: 5px;
  font-size: 1.1vw;
  height: fit-content;
}

.edit_button {
  background-color: #ff8c00;
  color: white;
  border-radius: 5px;
  font-size: 1.1vw;
  height: fit-content;
}

.button_container {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  margin-top: 4vh;
}
