.list {
  width: 1230px;
  max-width: 100%;
  margin: 0 auto 50px auto;
}
.product {
  border-bottom: 1px solid black;
  width: 1230px;
  max-width: 100%;
  margin: 50px auto auto auto;
}
.h1 {
  display: left;
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 5px;
}
