.list {
  width: 1230px;
  max-width: 100%;
  margin: auto;
}
.product {
  border-bottom: 1px solid black;
  width: 1230px;
  max-width: 100%;
  margin: 80px auto auto auto;
  display: flex;
  justify-content: space-between;
}
.h1 {
  display: left;
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 5px;
}
.control {
  display: flex;
  margin-bottom: 5px;
  margin-top: auto;
}
.arrow{
  margin-left: 5px;
  cursor: pointer;
}